.App-header {
  background-color: #1d1201;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: palegoldenrod;
  padding: 18px;
}